:root {
    --dark-pink:#c50069 ;
    --light-pink:#d5137b;
    --orange: #FF7800;
    --yellow: #ffd200;
    --dark-yellow:#FFBB00;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Avenir, 'Avenir Next', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-pink, #d5137b );
    padding:20px 50px ;
}

header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 16px;
}

a:hover {
    color: #ffd200 ;
    color: var(--accent-color, #ffd200) ;
    
}

.sub-header {
    display: flex;
    background-color: var(--light-pink) ;
    color: white;
    padding: 60px 15vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;

}

.sub-text p {
    color: white;
    max-width: 300px;
    min-height: 65px ;
    font-weight: lighter;
}

.sub-text a {
    color: white;
    text-decoration: wavy underline white 1px;
}
.sub-text a:hover {
    color: var(--yellow);
    text-decoration: wavy underline var(--yellow) 1px;
    font-size: larger;
}

div.sub-text button {
    border-color: var(--orange);
}
h1 {
    padding: 0;
    margin: 0;
}

button {
    background-color: var(--orange);
    color: white;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
    padding: 5px 10px;
}

.img-placeholder {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
    flex-shrink: 0;
    height: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: var(--yellow);
    color: var(--dark-pink);

}
.boxes {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.illustration {
    border: 4px solid var(--light-pink);
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
.info p {
    width: 200px;
    font-weight: 100;
    color: black;
    text-transform: lowercase;
}

.quote {
    background-color: var(--dark-yellow);
    padding: 30px;
}

blockquote {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
cite {
    display: block;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.call { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-pink);
}
.call-text {
    margin: 50px;
    border-radius: 20px;
    background-color: var(--dark-pink);
    padding: 20px 10vw;

 }
div.call-text > p {
    font-weight: bold;
    color: white;

}
div.call-text > p + p {
    font-weight: normal;
}
.call button {
    border-color:var(--orange);
    height: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-pink);
    align-items: center;
    justify-content: center;
    color: black ;
    font-size: smaller;
    padding: 15px;
}

footer img {
    width: 20px;
    height: auto;
}

footer a {
    color: black;
    text-decoration: none;
}